
.idea/phing.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/SchuWeb-Sitemap.iml

.idea/modules.xml

.idea/misc.xml

.idea/dictionaries/svanschu.xml

.idea/copyright/profiles_settings.xml

\.idea/sqldialects\.xml

\.idea/
